body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
body > :nth-child(n){
    margin: 0.5rem 0;
}
form{
    height: auto;
    width: 33vw;
    border: solid black 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem 1rem;
}
form > :nth-child(n){
    margin: 0.5rem;
}

label{
    font-size: 2rem;
}
